!!!
%html{:lang => "en", :dir => "ltr"}
  %head
    %meta{:charset => "utf-8"}
    %title #{@title} #{!@title.blank? ? " | " : ''} #{configatron.site_name}
    %link{:rel => 'stylesheet', :href => "/css/app.css"}

  %body
    #container.boxed
      %header#header.c
        %h1#logo.left
          %a{:href => '/'}= configatron.site_name

    
      - unless flash.blank?
        %details#flashes
          - unless flash[:notice].blank?
            #flash_notice= flash[:notice]
          - unless flash[:error].blank?
            #flash_notice= flash[:error]

      %section#content_area
        = yield

  %footer.boxed.tc
    %p This would be the footer