- unless @addons.blank?
  - @addons.each do |addon|
    %article.addon.c{:id => "addon_#{addon.id}"}
      %section.photo.left
        [PHOTO]
      %section.info.left
        %hgroup
          %h2
            %a{:href => "/#{addon.slug}"}= addon.name
          - unless addon.authors.blank?
            %h6 by #{addon.authors}
        - unless addon.description.blank?
          %p= addon.description
      %aside.status.left
        - if false
          %p RATINGS HERE!
        %details.downloads_count
          %h6= addon.download_count.to_i.commify
          %p Total #{"Download".pluralize(addon.downloads_count)}
      %summary.downloads.right
        = display_browser_downloads(addon)

- else
  %h1 No add-ons here.
  %p Maybe the developers are just being shy. Check back later!